[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flask = "*"
frozen-flask = "*"
flask-flatpages = "*"
pygments = "*"
watchdog = "*"
flask-htmx = "*"

[requires]
python_version = "3.11"
