<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Test Blog</title>
</head>
<body>
  
  <div class="wrapper">
    <nav>
      <a href="{{ url_for("index") }}">Home</a>
    </nav>

    {% block content %}
      <p> BASE.HTML </p>
    {% endblock %}

    <footer>
      <p class="copyright">Copyright &copy; <span class="currentYear">CURRENT YEAR</span>.</p>
    </footer>
  </div>
  
</body>
</html>