{% extends "base.html" %}

{% block content %}

{# include navigation #}
{% include "nav.html" %}

{# include header area #}
{% include "site_hero.html" %}

<main id="main" class="container mt-2">

  {% for page in content if 'content' in page.meta %}
  
    <div hx-get="{{ url_for("page", path=page.path) }}" 
          hx-swap="innerHTML"
          hx-trigger="load"> 
      ... main content ... 
    </div>
  {% endfor %}

  </main>

{% include "footer.html" %}

{% endblock %}