<nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
  <div class="container-fluid">

    <div class="container">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav">
  
          {# Home #}
          <li class="nav-item">
            <a href="{{ url_for("index") }}" class="nav-link">Home</a>
          </li>
  
          {# Blog #}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="blogDropdown">
              {% for page in pages if 'blog' in page.meta %}
                <li><a href="{{ url_for("page", path=page.path) }}" class="dropdown-item">{{ page.title }}</a></li>
              {% else %}
                <li> ... blog ... </li>
              {% endfor %}
            </ul>
          </li>
  
        </ul>
      </div>

    </div>

  </div>
</nav>