{% extends "base.html" %}

{% block content %}

  {% if 'blog' in page.meta %}
    {% include "nav.html" %}
    {% include "site_hero.html" %}
  {% endif %}


    {% if 'blog' in page.meta %}
      <main id="main" class="container mt-2">
        <h2>{{ page.title }}</h2>
    {% endif %}

        {{ page.html|safe }}

    {% if 'blog' in page.meta %}  
      </main>
    {% endif %}

  {% if 'blog' in page.meta %}
    {% include "footer.html" %}
  {% endif %}

{% endblock %}